<mat-drawer-container class="container">
  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <div class="brand">
      <img id="logo" src="assets/app-logo.png" alt="UBB logo" />
    </div>

    <div class="nav-scroll">
      <mat-nav-list class="nav-list">
        <!-- STUDENT -->
        <ng-container *ngIf="hasRole('Student')">
          <a
            mat-list-item
            routerLink="/main/dashboard"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon matListItemIcon>dashboard</mat-icon>
            <div matListItemTitle>Dashboard</div>
          </a>

          <a
            mat-list-item
            routerLink="/main/student/enrollments"
            routerLinkActive="active"
          >
            <mat-icon matListItemIcon>how_to_reg</mat-icon>
            <div matListItemTitle>My Enrollments</div>
          </a>

          <a
            mat-list-item
            routerLink="/main/leaderboards"
            routerLinkActive="active"
          >
            <mat-icon matListItemIcon>leaderboard</mat-icon>
            <div matListItemTitle>Leaderboards</div>
          </a>
        </ng-container>

        <!-- PROFESSOR -->
        <ng-container *ngIf="hasRole('Professor')">
          <a
            mat-list-item
            routerLink="/main/dashboard"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon matListItemIcon>dashboard</mat-icon>
            <div matListItemTitle>Dashboard</div>
          </a>
          <a
            mat-list-item
            routerLink="/main/professor/courses"
            routerLinkActive="active"
          >
            <mat-icon matListItemIcon>library_books</mat-icon>
            <div matListItemTitle>My Courses</div>
          </a>

          <a
            mat-list-item
            routerLink="/main/professor/feedback"
            routerLinkActive="active"
          >
            <mat-icon matListItemIcon>rule</mat-icon>
            <div matListItemTitle>Activity Feedback</div>
          </a>
        </ng-container>

        <!-- ADMIN -->
        <ng-container *ngIf="hasRole('Admin')">
          <a
            mat-list-item
            routerLink="/main/admin/users"
            routerLinkActive="active"
          >
            <mat-icon matListItemIcon>group</mat-icon>
            <div matListItemTitle>Manage Users</div>
          </a>

          <a
            mat-list-item
            routerLink="/main/admin/courses"
            routerLinkActive="active"
          >
            <mat-icon matListItemIcon>menu_book</mat-icon>
            <div matListItemTitle>Manage Courses</div>
          </a>

          <a
            mat-list-item
            routerLink="/main/admin/enrollments"
            routerLinkActive="active"
          >
            <mat-icon matListItemIcon>how_to_reg</mat-icon>
            <div matListItemTitle>Manage Enrollments</div>
          </a>

          <a
            mat-list-item
            routerLink="/main/admin/course-domains"
            routerLinkActive="active"
          >
            <mat-icon matListItemIcon>category</mat-icon>
            <div matListItemTitle>Manage Course Domains</div>
          </a>

          <a
            mat-list-item
            routerLink="/main/admin/activities"
            routerLinkActive="active"
          >
            <mat-icon matListItemIcon>assignment</mat-icon>
            <div matListItemTitle>Manage Activities</div>
          </a>
        </ng-container>
      </mat-nav-list>
    </div>

    <div class="sidenav-footer">
      <button mat-stroked-button color="primary" (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </div>
  </mat-drawer>

  <mat-drawer-content class="content">
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button class="menu-btn" (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="title">UBB Learning Portal</span>
      <span class="spacer"></span>

      <!-- Notifications -->
      <button
        mat-icon-button
        class="notif-button"
        [matMenuTriggerFor]="notificationsMenu"
        matBadge="{{ 3 }}"
        matBadgeColor="accent"
        matBadgePosition="above after"
        matBadgeHidden="{{ 0 === 0 }}"
        matTooltip="Notifications"
      >
        <mat-icon>notifications</mat-icon>
      </button>

      <mat-menu #notificationsMenu="matMenu" xPosition="before"> </mat-menu>

      <!-- Profile -->
      <button mat-icon-button matTooltip="Profile" (click)="goToProfile()">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <div class="page">
      <router-outlet />
    </div>
  </mat-drawer-content>
</mat-drawer-container>
