:host {
  display: flex;
  flex-direction: column;
  padding: 0 32px !important;
  gap: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-loader {
  min-height: 50vh;
  display: grid;
  place-items: center;
}

section[role='course-actions'] {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 8px;
}

textarea {
  min-height: 150px;
}
