<app-page-header title="Your enrollments 🧑‍🎓">
  <button mat-button button color="primary" (click)="openFindCourses()">
    EXPLORE MORE COURSES
  </button>
</app-page-header>

<div class="overlay" *ngIf="isLoading">
  <mat-progress-spinner mode="indeterminate" diameter="56">
  </mat-progress-spinner>
</div>

<mat-nav-list *ngIf="!isLoading">
  @for (enrollment of enrollments; track enrollment.id) {
    <a
      mat-list-item
      [routerLink]="['/main/student/enrollments/course', enrollment.id]"
      routerLinkActive="isActive"
    >
      <span
        class="completion-badge"
        [ngClass]="
          getCompletionClass(
            getCompletionRate(
              enrollment.numberOfActivities!,
              enrollment.numberOfSolvedActivities!
            )
          )
        "
        matListItemIcon
      >
        {{
          getCompletionPercentText(
            enrollment.numberOfActivities!,
            enrollment.numberOfSolvedActivities!
          )
        }}
      </span>

      <span matListItemTitle>{{ enrollment.name }}</span>

      <span matListItemLine>
        {{
          getCompletionLineText(
            enrollment.numberOfActivities!,
            enrollment.numberOfSubmittedActivities || 0,
            enrollment.numberOfSolvedActivities || 0
          )
        }}
      </span>

      <span matListItemMeta> {{ enrollment.courseDomainName }}</span>
    </a>
  }

  <div class="empty-state" *ngIf="enrollments.length === 0">
    <mat-icon class="empty-icon">school</mat-icon>
    <div class="empty-title">No enrollments yet</div>
    <div class="empty-subtitle">
      Start exploring courses to begin your learning journey.
    </div>
  </div>
</mat-nav-list>

<mat-paginator
  *ngIf="enrollmentsCount > 0"
  [length]="enrollmentsCount"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  showFirstLastButtons
  (page)="onPageChange($event)"
>
</mat-paginator>

<router-outlet hidden />
