<section role="course-actions">
  <a mat-icon-button routerLink="../" color="accent">
    <mat-icon>close</mat-icon>
  </a>

  <span
    class="save-tooltip"
    [matTooltip]="
      addCourseFormGroup.invalid ? 'Please fill in all the required fields' : ''
    "
    [matTooltipDisabled]="!addCourseFormGroup.invalid"
  >
    <button
      mat-button
      color="primary"
      type="submit"
      [disabled]="addCourseFormGroup.invalid"
      (click)="createCourse()"
    >
      SAVE
    </button>
  </span>
</section>

<div *ngIf="isLoading" class="form-loader">
  <mat-progress-spinner mode="indeterminate" diameter="56">
  </mat-progress-spinner>
</div>

<form
  *ngIf="!isLoading"
  [formGroup]="addCourseFormGroup"
  (ngSubmit)="createCourse()"
>
  <section class="card course-details-card">
    <div class="card-title">Course details ✍️</div>

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Ex: First Course" />

      <mat-error *ngIf="name.touched && name.hasError('required')">
        The name is required.
      </mat-error>
    </mat-form-field>

    <div class="domain-field">
      <div class="field-label">Course domain</div>
      <mat-selection-list
        formControlName="courseDomainId"
        class="scrollable-list-container"
        [multiple]="false"
      >
        @for (
          courseDomain of courseDomains;
          track courseDomain.courseDomainId
        ) {
          <mat-list-option [value]="courseDomain.courseDomainId">
            {{ courseDomain.name }}
          </mat-list-option>
        }
      </mat-selection-list>

      <mat-error
        *ngIf="courseDomainId.touched && courseDomainId.hasError('required')"
      >
        The course domain is required.
      </mat-error>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Description (optional)</mat-label>
      <textarea
        matInput
        formControlName="description"
        placeholder="Add some basic and relevant course information"
      >
      </textarea>
    </mat-form-field>
  </section>
</form>
