<section role="course-actions">
  <a mat-icon-button routerLink="../" color="accent">
    <mat-icon>close</mat-icon>
  </a>

  <button
    mat-button
    color="primary"
    type="submit"
    [disabled]="addCourseFormGroup.invalid"
    (click)="createCourse()"
  >
    SAVE
  </button>
</section>

<div *ngIf="isLoading" class="form-loader">
  <mat-progress-spinner mode="indeterminate" diameter="56">
  </mat-progress-spinner>
</div>

<form
  *ngIf="!isLoading"
  [formGroup]="addCourseFormGroup"
  (ngSubmit)="createCourse()"
>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Ex: First Course" />

    <mat-error *ngIf="name.touched && name.hasError('required')">
      The name is required.
    </mat-error>
  </mat-form-field>

  <mat-selection-list
    formControlName="courseDomainId"
    class="scrollable-list-container"
    [multiple]="false"
  >
    @for (courseDomain of courseDomains; track courseDomain.courseDomainId) {
      <mat-list-option [value]="courseDomain.courseDomainId">
        {{ courseDomain.name }}
      </mat-list-option>

      <mat-error
        *ngIf="courseDomainId.touched && courseDomainId.hasError('required')"
      >
        The course domain is required.
      </mat-error>
    }
  </mat-selection-list>

  <mat-form-field>
    <mat-label>Description (optional)</mat-label>
    <textarea
      matInput
      formControlName="description"
      placeholder="Add some basic and relevant course information"
    >
    </textarea>
  </mat-form-field>
</form>
