<div class="text-container">
  <h1>Sign up for a course</h1>

  <span>Fill out the form below to begin your journey with us!</span>
</div>

<mat-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="personalInformationFormGroup">
    <form [formGroup]="personalInformationFormGroup">
      <ng-template matStepLabel id="personal-information-form">
        Fill in your personal information
      </ng-template>

      <div id="personal-information-form-container">
        <mat-form-field appearance="fill">
          <mat-label>First name</mat-label>
          <input
            matInput
            placeholder="Your first name"
            formControlName="firstName"
            required
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Last name</mat-label>
          <input
            matInput
            placeholder="Your last name"
            formControlName="lastName"
            required
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Enter your email"
            formControlName="email"
            required
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="Enter your password"
            formControlName="password"
            required
          />
        </mat-form-field>

        <span class="personal-information-form-info">
          * Your password must contain at least 8 characters, one letter, and
          one number.
        </span>
      </div>

      <div class="stepper-actions">
        <span></span>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step
    [stepControl]="courseDomainFormGroup"
    label="Pick your course domains"
  >
    <div id="course-domain-form-container">
      <form [formGroup]="courseDomainFormGroup" id="course-domain-form">
        <mat-selection-list
          #coursedomainsref
          formControlName="courseDomains"
          class="scrollable-list-container"
        >
          @for (courseDomain of courseDomains; track courseDomain) {
            <mat-list-option>{{ courseDomain }}</mat-list-option>
          }
        </mat-selection-list>

        <div class="stepper-actions">
          <button mat-raised-button color="accent" matStepperPrevious>
            Back
          </button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </div>
  </mat-step>

  <mat-step [stepControl]="courseFormGroup" label="Pick your courses">
    <div id="course-form-container">
      <form [formGroup]="courseFormGroup" id="course-form">
        <mat-selection-list
          #coursesref
          formControlName="courses"
          class="scrollable-list-container"
        >
          @for (course of courses; track course) {
            <mat-list-option>{{ course }}</mat-list-option>
          }
        </mat-selection-list>

        <div class="stepper-actions">
          <button mat-raised-button color="accent" matStepperPrevious>
            Back
          </button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </div>
  </mat-step>

  <mat-step class="stepper-actions">
    <ng-template matStepLabel>Done</ng-template>
    <div id="done-container">
      <div class="text-container">
        <h2>You are done!</h2>

        <span>
          Click on finish to complete your registration and begin your learning
          path.
        </span>
      </div>

      <div class="stepper-actions">
        <button mat-raised-button color="accent" matStepperPrevious>
          Back
        </button>
        <button mat-raised-button color="primary">Finish</button>
      </div>
    </div>
  </mat-step>
</mat-stepper>

<img src="assets/ubb-logo.png" />
