<app-page-header title="Your courses 🎓">
  <button mat-button button color="primary" [routerLink]="['new']">ADD</button>
</app-page-header>

<div class="overlay" *ngIf="isLoading">
  <mat-progress-spinner mode="indeterminate" diameter="56">
  </mat-progress-spinner>
</div>

<mat-nav-list *ngIf="!isLoading">
  @for (course of courses; track course.courseId) {
    <a
      mat-list-item
      [routerLink]="['/main/professor/courses', course.courseId]"
      routerLinkActive="isActive"
    >
      <span
        matListItemIcon
        [matBadge]="course.numberOfActivities"
        [matBadgeHidden]="course.numberOfActivities === 0"
        matBadgeColor="primary"
        matBadgeSize="small"
        matBadgePosition="above after"
      >
        <mat-icon>fact_check</mat-icon>
      </span>

      <span matListItemTitle>{{ course.name }}</span>

      <span matListItemLine>
        {{
          course.numberOfEntrollments === 0
            ? 'No students have enrolled yet'
            : course.numberOfEntrollments === 1
              ? '1 student has enrolled'
              : course.numberOfEntrollments + ' students have enrolled'
        }}
      </span>

      <span matListItemMeta>Created {{ course.createdOn | dateFormat }}</span>
    </a>
  }
</mat-nav-list>

<mat-paginator
  [length]="courseCount"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  showFirstLastButtons
  (page)="onPageChange($event)"
>
</mat-paginator>

<router-outlet hidden />
