<section role="course-actions">
  <a mat-icon-button routerLink="../" color="accent">
    <mat-icon>close</mat-icon>
  </a>

  <button mat-button color="primary" [routerLink]="['activities', 'add']">
    ADD ACTIVITY
  </button>

  <button
    mat-button
    color="primary"
    type="submit"
    [disabled]="updateCourseFormGroup.invalid"
    (click)="updateCourse()"
  >
    UPDATE
  </button>
</section>

<div *ngIf="isLoading" class="form-loader">
  <mat-progress-spinner mode="indeterminate" diameter="56">
  </mat-progress-spinner>
</div>

<form
  *ngIf="!isLoading"
  [formGroup]="updateCourseFormGroup"
  (ngSubmit)="updateCourse()"
>
  <mat-form-field>
    <mat-label>Name (disabled)</mat-label>
    <input matInput formControlName="name" [disabled]="true" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Domain name (disabled)</mat-label>
    <input matInput formControlName="courseDomainName" [disabled]="true" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"> </textarea>
  </mat-form-field>
</form>

<section *ngIf="!isLoading" class="activities-section" aria-label="Activities">
  <div *ngIf="course.activities.length === 0">
    <div class="activities-empty">
      <h3>No activities yet 😟</h3>
      <p>You haven't added any activities for this course.</p>
    </div>
  </div>

  <div *ngIf="course.activities.length !== 0">
    <h3>Activities 📝</h3>

    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let activity of course.activities"
        [routerLink]="['activities', activity.id]"
      >
        <div matListItemTitle>{{ activity.name }}</div>
        <div matListItemLine class="muted">
          {{ activity.numberOfDocuments }} doc{{
            activity.numberOfDocuments === 1 ? '' : 's'
          }}
        </div>
        <mat-icon matListItemIcon>book</mat-icon>
      </a>
    </mat-nav-list>
  </div>
</section>

<router-outlet />
