<section role="course-actions">
  <a mat-icon-button routerLink="../" color="accent">
    <mat-icon>close</mat-icon>
  </a>

  <button mat-button color="primary" [routerLink]="['activities', 'add']">
    ADD ACTIVITY
  </button>

  <span
    class="update-tooltip"
    [matTooltip]="!hasChanges ? 'No changes have been currently made' : ''"
    [matTooltipDisabled]="hasChanges"
    button
  >
    <button
      mat-button
      color="primary"
      type="submit"
      [disabled]="updateCourseFormGroup.invalid || !hasChanges"
      (click)="updateCourse()"
    >
      UPDATE
    </button>
  </span>
</section>

<div *ngIf="isLoading" class="form-loader">
  <mat-progress-spinner mode="indeterminate" diameter="56">
  </mat-progress-spinner>
</div>

<form
  *ngIf="!isLoading"
  [formGroup]="updateCourseFormGroup"
  (ngSubmit)="updateCourse()"
>
  <section class="card course-details-card">
    <div class="card-title">Course details ✍️</div>

    <mat-form-field appearance="outline">
      <mat-label>Name (disabled)</mat-label>
      <input
        matInput
        formControlName="name"
        [disabled]="true"
        matTooltip="This field is locked after course creation"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Domain name (disabled)</mat-label>
      <input
        matInput
        formControlName="courseDomainName"
        [disabled]="true"
        matTooltip="This field is locked after course creation"
      />
    </mat-form-field>

    <mat-slide-toggle formControlName="assistedLlmEvaluation">
      Enable assisted LLM evaluation
    </mat-slide-toggle>

    <mat-form-field appearance="outline">
      <mat-label>Description (optional)</mat-label>
      <textarea
        matInput
        formControlName="description"
        placeholder="Add some basic and relevant course information"
      >
      </textarea>
    </mat-form-field>
  </section>

  <section class="activities-section card" aria-label="Activities">
    <div *ngIf="course.activities!.length === 0">
      <div class="activities-empty">
        <span class="activities-title">No activities yet 😟</span>
        <p class="text-muted">
          You haven't added any activities for this course.
        </p>
      </div>
    </div>

    <div *ngIf="course.activities!.length !== 0">
      <span class="activities-title">Activities 📘</span>

      <mat-nav-list>
        <a
          mat-list-item
          *ngFor="let activity of course.activities"
          [routerLink]="['activities', activity.id]"
          routerLinkActive="isActive"
        >
          <div matListItemTitle>{{ activity.name }}</div>

          <div matListItemLine class="muted">
            {{
              activity.numberOfDocuments === 0
                ? 'You have not attached any resources to this activity yet'
                : 'You attached ' +
                  activity.numberOfDocuments +
                  ' resource' +
                  (activity.numberOfDocuments === 1 ? '' : 's') +
                  ' to this activity'
            }}
          </div>

          <span matListItemMeta
            >Created {{ activity.createdOn | dateFormat }}</span
          >

          <mat-icon matListItemIcon>book</mat-icon>
        </a>
      </mat-nav-list>
    </div>
  </section>
</form>

<router-outlet />
